@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>

<EditForm Model="@newTodo" OnValidSubmit="@AddTodo">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="newTodo.Name" class="form-control" />
    </div>
    <div>
        <label>Due Date:</label>
        <InputDate @bind-Value="newTodo.DueDate" class="form-control" />
    </div>
    <div>
        <label>Status:</label>
        <InputSelect @bind-Value="newTodo.Status" class="form-control">
            @foreach (var status in Enum.GetValues<TodoStatus>())
            {
                <option value="@status">@status</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in todos)
        {
            <tr>
                <td>@todo.Name</td>
                <td>@todo.DueDate.ToShortDateString()</td>
                <td>@todo.Status</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<TodoModel> todos = new();
    private TodoModel newTodo = new();

    private void AddTodo()
    {
        todos.Add(new TodoModel()                
        {
         Name = "test",
         DueDate = DateTime.Now,
         Status = TodoStatus.ToDo,
        });

        newTodo = new();
    }
}
